In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import math
import json
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)

from recommend import Recommend

In [3]:
def display_recs(favorites, artists_per_cluster):
    r = Recommend(artists_per_cluster)
    recs = r.get_recs(favorites)
    print('{} clusters'.format(math.floor(2109/artists_per_cluster)))
    for artist in recs:
        print('5 Most Similar and Novel Artists to ' + recs[artist]['name'])
        display(HTML(recs[artist]['recs'].head().to_html()))

- (1) 2109 clusters
- (2) 1054 clusters
- (4) 527 clusters
- (8) 263 clusters
- (16) 131 clusters

# Justin Bieber, Taylor Swift, Ariana Grande

In [4]:
# 1 artist per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 1)

2109 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [5]:
# 2 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 2)

1054 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [6]:
# 4 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 4)

527 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [7]:
# 8 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 8)

263 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [8]:
# 16 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 16)

131 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

# Andrew's Favorite Artists

### AJR, Quinn XCII, Twenty One Pilots, Billie Eilish, Maroon 5

In [9]:
# 1 artist per cluster
display_recs(['6s22t5Y3prQHyaHWUN1R1C', '3ApUX1o6oSz321MMECyIYd', '3YQKmKGau1PzlVlkL1iodx',
              '6qqNVTkY8uBg9cP3Jd7DAH', '04gDigrS5kc9YWfZHwBETP'], 1)

2109 clusters
5 Most Similar and Novel Artists to AJR

5 Most Similar and Novel Artists to Quinn XCII

5 Most Similar and Novel Artists to Twenty One Pilots

5 Most Similar and Novel Artists to Billie Eilish

5 Most Similar and Novel Artists to Maroon 5

In [10]:
# 2 artists per cluster
display_recs(['6s22t5Y3prQHyaHWUN1R1C', '3ApUX1o6oSz321MMECyIYd', '3YQKmKGau1PzlVlkL1iodx',
              '6qqNVTkY8uBg9cP3Jd7DAH', '04gDigrS5kc9YWfZHwBETP'], 2)

1054 clusters
5 Most Similar and Novel Artists to AJR

5 Most Similar and Novel Artists to Quinn XCII

5 Most Similar and Novel Artists to Twenty One Pilots

5 Most Similar and Novel Artists to Billie Eilish

5 Most Similar and Novel Artists to Maroon 5

In [11]:
# 4 artist per cluster
display_recs(['6s22t5Y3prQHyaHWUN1R1C', '3ApUX1o6oSz321MMECyIYd', '3YQKmKGau1PzlVlkL1iodx',
              '6qqNVTkY8uBg9cP3Jd7DAH', '04gDigrS5kc9YWfZHwBETP'], 4)

527 clusters
5 Most Similar and Novel Artists to AJR

5 Most Similar and Novel Artists to Quinn XCII

5 Most Similar and Novel Artists to Twenty One Pilots

5 Most Similar and Novel Artists to Billie Eilish

5 Most Similar and Novel Artists to Maroon 5

In [12]:
# 8 artist per cluster
display_recs(['6s22t5Y3prQHyaHWUN1R1C', '3ApUX1o6oSz321MMECyIYd', '3YQKmKGau1PzlVlkL1iodx',
              '6qqNVTkY8uBg9cP3Jd7DAH', '04gDigrS5kc9YWfZHwBETP'], 8)

263 clusters
5 Most Similar and Novel Artists to AJR

5 Most Similar and Novel Artists to Quinn XCII

5 Most Similar and Novel Artists to Twenty One Pilots

5 Most Similar and Novel Artists to Billie Eilish

5 Most Similar and Novel Artists to Maroon 5

In [13]:
# 16 artist per cluster
display_recs(['6s22t5Y3prQHyaHWUN1R1C', '3ApUX1o6oSz321MMECyIYd', '3YQKmKGau1PzlVlkL1iodx',
              '6qqNVTkY8uBg9cP3Jd7DAH', '04gDigrS5kc9YWfZHwBETP'], 16)

131 clusters
5 Most Similar and Novel Artists to AJR

5 Most Similar and Novel Artists to Quinn XCII

5 Most Similar and Novel Artists to Twenty One Pilots

5 Most Similar and Novel Artists to Billie Eilish

5 Most Similar and Novel Artists to Maroon 5