In [67]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [83]:
import pandas as pd
import math
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)

from recommend import Recommend

In [84]:
def display_recs(favorites, artists_per_cluster):
    r = Recommend(artists_per_cluster)
    recs = r.get_recs(favorites)
    print('{} clusters'.format(math.floor(2109/artists_per_cluster)))
    for artist in recs:
        print('5 Most Similar and Novel Artists to ' + recs[artist]['name'])
        display(HTML(recs[artist]['recs'].head().to_html()))

- (1) 2109 clusters
- (2) 1054 clusters
- (4) 527 clusters
- (8) 263 clusters
- (16) 131 clusters

Justin Bieber,

In [85]:
# 1 artist per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 1)

2109 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [86]:
# 2 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 2)

1054 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [87]:
# 4 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 4)

527 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [88]:
# 8 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 8)

263 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande

In [89]:
# 16 artists per cluster
display_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR'], 16)

131 clusters
5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to Ariana Grande