In [47]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [61]:
import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)

from recommend import Recommend
r = Recommend()

In [62]:
def display_recs(recs):
    for artist in recs:
        print('5 Most Similar and Novel Artists to ' + recs[artist]['name'])
        display(HTML(recs[artist]['recs'].head().to_html()))

In [63]:
# Bad Bunny, The Weeknd
display_recs(r.get_recs(['4q3ewBCX7sLwd24euuV69X','1Xyo4u8uXC1ZmMpatF05PJ']))

5 Most Similar and Novel Artists to Bad Bunny

5 Most Similar and Novel Artists to The Weeknd

In [64]:
# Justin Bieber, Taylor Swift, BTS
display_recs(r.get_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '3Nrfpe0tUJi4K4DXYWgMUX']))

5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to BTS

In [52]:
# System Of A Down, Pink Floyd
display_recs(r.get_recs(['5eAWCfyUhZtHHtBdNk56l1', '0k17h0D3J5VfsdmQ1iZtE9']))

5 Most Similar and Novel Artists to System Of A Down

5 Most Similar and Novel Artists to Pink Floyd

In [53]:
# 2Pac
display_recs(r.get_recs(['1ZwdS5xdxEREPySFridCfh']))

5 Most Similar and Novel Artists to 2Pac