# Setup

In [96]:
import pandas as pd
import math
import json
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

from recommend import Recommend

In [97]:
def display_recs(favorites, artists_per_cluster):
    r = Recommend(artists_per_cluster)
    recs = r.get_recs(favorites)
    print('{} clusters'.format(math.floor(3691/artists_per_cluster))) # number of popular artists
    print('')
    for artist in recs:
        print(recs[artist]['name'])
        display(HTML(recs[artist]['recs'].head().to_html())) # TODO: TYLER PROPOSED CHANGE

In [98]:
class find:
    def __init__(self, artists_per_cluster):
        folder = 'precomp_diff_clusters/precomp_' + str(artists_per_cluster)
        with open(folder + '/s_name_find.json') as snf:
            self.snf = json.load(snf)
        with open(folder + '/t_uname_find.json') as tnf:
            self.tnf = json.load(tnf)
        with open(folder + '/s_info.json') as sif:
            self.s_info = json.load(sif)
        with open(folder + '/t_info.json') as tif:
            self.t_info = json.load(tif)
        with open(folder + '/candidates_scores.json') as csf:
            self.candidates_scores = json.load(csf)
    def s_name_find(self, name):
        if name in self.snf:
            df_spotify = pd.DataFrame(columns=['name', 'popular', 'sid', 'link'])
            sids = self.snf[name]
            for sid in sids:
                tid = self.s_info[sid]['tid']
                twitter = self.t_info[str(tid)]['followers count']
                if twitter >= 100000:
                    popular = True
                else:
                    popular = False
                df_spotify = df_spotify.append({
                'name': name,
                'popular': popular,
                'sid': sid,
                'link': "https://open.spotify.com/artist/" + sid}, ignore_index=True)
            return df_spotify
        else:
            print('We do not have {} in our database'.format(name))
    def t_uname_find(self, uname):
        if uname in self.tnf:
            df_spotify = pd.DataFrame(columns=['name', 'popular', 'sid', 'link'])
            sids = self.tnf[uname]
            for sid in sids:
                name = self.s_info[sid]['spotify name']
                tid = self.s_info[sid]['tid']
                twitter = self.t_info[str(tid)]['followers count']
                if twitter >= 100000:
                    popular = True
                else:
                    popular = False
                df_spotify = df_spotify.append({
                'name': name,
                'popular': popular,
                'sid': sid,
                'link': "https://open.spotify.com/artist/" + sid}, ignore_index=True)
            return df_spotify
        else:
            print('We do not have {} in our database'.format(uname))

In [99]:
# 4 artists per cluster
artists_per_cluster = 4
f4 = find(artists_per_cluster)

# Ian (13)

In [100]:
f4.s_name_find('Kanye West')

,name,popular,sid,link
0,Kanye West,True,5K4W6rqBFWDnAN6FQUkS6x,https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x

In [101]:
f4.t_uname_find('AndersonPaak')

,name,popular,sid,link
0,Anderson .Paak,True,3jK9MiCrA42lLAdMGUZpwa,https://open.spotify.com/artist/3jK9MiCrA42lLAdMGUZpwa

In [102]:
f4.s_name_find('The Notorious B.I.G.')

,name,popular,sid,link
0,The Notorious B.I.G.,False,5me0Irg2ANcsgc93uaYrpb,https://open.spotify.com/artist/5me0Irg2ANcsgc93uaYrpb

In [103]:
f4.t_uname_find('tylerthecreator')

,name,popular,sid,link
0,"Tyler, The Creator",True,4V8LLVI7PbaPR0K2TGSxFF,https://open.spotify.com/artist/4V8LLVI7PbaPR0K2TGSxFF

In [104]:
f4.s_name_find('Nujabes')

,name,popular,sid,link
0,Nujabes,False,3Rq3YOF9YG9YfCWD4D56RZ,https://open.spotify.com/artist/3Rq3YOF9YG9YfCWD4D56RZ

In [105]:
# Kanye West, Anderson Paak, Tyler the Creator
display_recs(['5K4W6rqBFWDnAN6FQUkS6x', '3jK9MiCrA42lLAdMGUZpwa', '4V8LLVI7PbaPR0K2TGSxFF'],
            artists_per_cluster)

922 clusters

Kanye West

Anderson .Paak

Tyler, The Creator

# Daniel (14)

In [106]:
f4.s_name_find('Led Zeppelin')

,name,popular,sid,link
0,Led Zeppelin,True,36QJpDe2go2KgaRleHCDTp,https://open.spotify.com/artist/36QJpDe2go2KgaRleHCDTp

In [107]:
f4.s_name_find('Eminem')

,name,popular,sid,link
0,Eminem,True,7dGJo4pcD2V6oG8kP0tJRR,https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR

In [108]:
f4.t_uname_find('Royceda59')

,name,popular,sid,link
0,"Royce Da 5'9""",True,6DVipHzYsPlIoA0DW8Gmns,https://open.spotify.com/artist/6DVipHzYsPlIoA0DW8Gmns

In [109]:
f4.s_name_find('ScHoolboy Q')

,name,popular,sid,link
0,ScHoolboy Q,True,5IcR3N7QB1j6KBL8eImZ8m,https://open.spotify.com/artist/5IcR3N7QB1j6KBL8eImZ8m

In [110]:
f4.s_name_find('Olivia Rodrigo')

,name,popular,sid,link
0,Olivia Rodrigo,True,1McMsnEElThX1knmY4oliG,https://open.spotify.com/artist/1McMsnEElThX1knmY4oliG

In [111]:
# Led Zeppelin, Eminem, Royce Da 5'9", ScHoolboy Q, Olivia Rodrigo
display_recs(['36QJpDe2go2KgaRleHCDTp', '7dGJo4pcD2V6oG8kP0tJRR', '6DVipHzYsPlIoA0DW8Gmns',
             '5IcR3N7QB1j6KBL8eImZ8m', '1McMsnEElThX1knmY4oliG'], artists_per_cluster)

922 clusters

Led Zeppelin

Eminem

Royce Da 5'9"

ScHoolboy Q

Olivia Rodrigo

# Emma (15)

In [113]:
f4.t_uname_find('bornsmusic')

,name,popular,sid,link
0,BØRNS,True,1KP6TWI40m7p3QBTU6u2xo,https://open.spotify.com/artist/1KP6TWI40m7p3QBTU6u2xo

In [114]:
f4.s_name_find('Miike Snow')

,name,popular,sid,link
0,Miike Snow,False,4l1cKWYW591xnwEGxpUg3J,https://open.spotify.com/artist/4l1cKWYW591xnwEGxpUg3J

In [115]:
f4.s_name_find('Vampire Weekend')

,name,popular,sid,link
0,Vampire Weekend,True,5BvJzeQpmsdsFp4HGUYUEx,https://open.spotify.com/artist/5BvJzeQpmsdsFp4HGUYUEx

In [117]:
f4.s_name_find('The Neighbourhood')

,name,popular,sid,link
0,The Neighbourhood,True,77SW9BnxLY8rJ0RciFqkHh,https://open.spotify.com/artist/77SW9BnxLY8rJ0RciFqkHh

In [118]:
f4.s_name_find('The Wombats')

,name,popular,sid,link
0,The Wombats,True,0Ya43ZKWHTKkAbkoJJkwIB,https://open.spotify.com/artist/0Ya43ZKWHTKkAbkoJJkwIB

In [119]:
# Borns, Vampire Weekend, The Neighbourhood, The Wombats
display_recs(['1KP6TWI40m7p3QBTU6u2xo', '5BvJzeQpmsdsFp4HGUYUEx', '77SW9BnxLY8rJ0RciFqkHh',
             '0Ya43ZKWHTKkAbkoJJkwIB'], artists_per_cluster)

922 clusters

BØRNS

Vampire Weekend

The Neighbourhood

The Wombats

# Chai (16)

In [120]:
f4.s_name_find('BTS')

,name,popular,sid,link
0,BTS,True,3Nrfpe0tUJi4K4DXYWgMUX,https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX

In [121]:
f4.s_name_find('BLACKPINK')

,name,popular,sid,link
0,BLACKPINK,True,41MozSoPIsD1dJM0CLPjZF,https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF

In [122]:
f4.s_name_find('Panic! At The Disco')

,name,popular,sid,link
0,Panic! At The Disco,True,20JZFwl6HVl6yg8a4H3ZqK,https://open.spotify.com/artist/20JZFwl6HVl6yg8a4H3ZqK

In [123]:
f4.s_name_find('Coldplay')

,name,popular,sid,link
0,Coldplay,True,4gzpq5DPGxSnKTe4SA8HAU,https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU

In [124]:
f4.s_name_find('Rihanna')

,name,popular,sid,link
0,Rihanna,True,5pKCCKE2ajJHZ9KAiaK11H,https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H

In [125]:
f4.s_name_find('Snow Patrol')

,name,popular,sid,link
0,Snow Patrol,True,3rIZMv9rysU7JkLzEaC5Jp,https://open.spotify.com/artist/3rIZMv9rysU7JkLzEaC5Jp

In [126]:
# BTS, BLACKPINK, Panic! At The Disco, Coldplay, Rihanna, Snow Patrol
display_recs(['3Nrfpe0tUJi4K4DXYWgMUX', '41MozSoPIsD1dJM0CLPjZF', '20JZFwl6HVl6yg8a4H3ZqK',
             '4gzpq5DPGxSnKTe4SA8HAU', '5pKCCKE2ajJHZ9KAiaK11H', '3rIZMv9rysU7JkLzEaC5Jp'], artists_per_cluster)

922 clusters

BTS

BLACKPINK

Panic! At The Disco

Coldplay

Rihanna

Snow Patrol

# Julie (17)

In [127]:
f4.s_name_find('Adele')

,name,popular,sid,link
0,Adele,True,4dpARuHxo51G3z768sgnrY,https://open.spotify.com/artist/4dpARuHxo51G3z768sgnrY

In [128]:
f4.s_name_find('5 Seconds of Summer')

,name,popular,sid,link
0,5 Seconds of Summer,True,5Rl15oVamLq7FbSb0NNBNy,https://open.spotify.com/artist/5Rl15oVamLq7FbSb0NNBNy

In [129]:
f4.s_name_find('Imagine Dragons')

,name,popular,sid,link
0,Imagine Dragons,True,53XhwfbYqKCa1cC15pYq2q,https://open.spotify.com/artist/53XhwfbYqKCa1cC15pYq2q

In [130]:
f4.s_name_find('Ariana Grande')

,name,popular,sid,link
0,Ariana Grande,True,66CXWjxzNUsdJxJ2JdwvnR,https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR

In [133]:
f4.t_uname_find('Beyonce')

We do not have Beyonce in our database

In [ ]:
display_recs(['4dpARuHxo51G3z768sgnrY', '5Rl15oVamLq7FbSb0NNBNy'])