# Setup

In [52]:
import pandas as pd
import math
import json
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

from recommend import Recommend

In [45]:
def display_recs(favorites, artists_per_cluster):
    r = Recommend(artists_per_cluster)
    recs = r.get_recs(favorites)
    print('{} clusters'.format(math.floor(3691/artists_per_cluster))) # number of popular artists
    print('')
    for artist in recs:
        print(recs[artist]['name'])
        display(HTML(recs[artist]['recs'].head().to_html())) # TODO: TYLER PROPOSED CHANGE

In [77]:
class find:
    def __init__(self, artists_per_cluster):
        folder = 'precomp_diff_clusters/precomp_' + str(artists_per_cluster)
        with open(folder + '/s_name_find.json') as snf:
            self.snf = json.load(snf)
        with open(folder + '/t_uname_find.json') as tnf:
            self.tnf = json.load(tnf)
        with open(folder + '/s_info.json') as sif:
            self.s_info = json.load(sif)
        with open(folder + '/t_info.json') as tif:
            self.t_info = json.load(tif)
        with open(folder + '/candidates_scores.json') as csf:
            self.candidates_scores = json.load(csf)
    def s_name_find(self, name):
        if name in self.snf:
            df_spotify = pd.DataFrame(columns=['name', 'popular', 'sid', 'link'])
            sids = self.snf[name]
            for sid in sids:
                tid = self.s_info[sid]['tid']
                twitter = self.t_info[str(tid)]['followers count']
                if twitter >= 100000:
                    popular = True
                else:
                    popular = False
                df_spotify = df_spotify.append({
                'name': name,
                'popular': popular,
                'sid': sid,
                'link': "https://open.spotify.com/artist/" + sid}, ignore_index=True)
            return df_spotify
        else:
            print('We do not have {} in our database'.format(name))
    def t_uname_find(self, uname):
        if uname in self.tnf:
            df_spotify = pd.DataFrame(columns=['name', 'popular', 'sid', 'link'])
            sids = self.tnf[uname]
            for sid in sids:
                name = self.s_info[sid]['spotify name']
                tid = self.s_info[sid]['tid']
                twitter = self.t_info[str(tid)]['followers count']
                if twitter >= 100000:
                    popular = True
                else:
                    popular = False
                df_spotify = df_spotify.append({
                'name': name,
                'popular': popular,
                'sid': sid,
                'link': "https://open.spotify.com/artist/" + sid}, ignore_index=True)
            return df_spotify
        else:
            print('We do not have {} in our database'.format(uname))

In [78]:
# 4 artists per cluster
artists_per_cluster = 4
f4 = find(artists_per_cluster)

# Ian (13)

In [80]:
f4.s_name_find('Kanye West')

,name,popular,sid,link
0,Kanye West,True,5K4W6rqBFWDnAN6FQUkS6x,https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x

In [82]:
f4.t_uname_find('AndersonPaak')

,name,popular,sid,link
0,Anderson .Paak,True,3jK9MiCrA42lLAdMGUZpwa,https://open.spotify.com/artist/3jK9MiCrA42lLAdMGUZpwa

In [83]:
f4.s_name_find('The Notorious B.I.G.')

,name,popular,sid,link
0,The Notorious B.I.G.,False,5me0Irg2ANcsgc93uaYrpb,https://open.spotify.com/artist/5me0Irg2ANcsgc93uaYrpb

In [84]:
f4.t_uname_find('tylerthecreator')

,name,popular,sid,link
0,"Tyler, The Creator",True,4V8LLVI7PbaPR0K2TGSxFF,https://open.spotify.com/artist/4V8LLVI7PbaPR0K2TGSxFF

In [85]:
f4.s_name_find('Nujabes')

,name,popular,sid,link
0,Nujabes,False,3Rq3YOF9YG9YfCWD4D56RZ,https://open.spotify.com/artist/3Rq3YOF9YG9YfCWD4D56RZ

In [88]:
# Kanye West, Anderson Paak, Tyler the Creator
display_recs(['5K4W6rqBFWDnAN6FQUkS6x', '3jK9MiCrA42lLAdMGUZpwa', '4V8LLVI7PbaPR0K2TGSxFF'],
            artists_per_cluster)

922 clusters

Kanye West

Anderson .Paak

Tyler, The Creator

# Daniel (14)

In [89]:
f4.s_name_find('Led Zeppelin')

,name,popular,sid,link
0,Led Zeppelin,True,36QJpDe2go2KgaRleHCDTp,https://open.spotify.com/artist/36QJpDe2go2KgaRleHCDTp

In [90]:
f4.s_name_find('Eminem')

,name,popular,sid,link
0,Eminem,True,7dGJo4pcD2V6oG8kP0tJRR,https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR

In [92]:
f4.t_uname_find('Royceda59')

,name,popular,sid,link
0,"Royce Da 5'9""",True,6DVipHzYsPlIoA0DW8Gmns,https://open.spotify.com/artist/6DVipHzYsPlIoA0DW8Gmns

In [93]:
f4.s_name_find('ScHoolboy Q')

,name,popular,sid,link
0,ScHoolboy Q,True,5IcR3N7QB1j6KBL8eImZ8m,https://open.spotify.com/artist/5IcR3N7QB1j6KBL8eImZ8m

In [94]:
f4.s_name_find('Olivia Rodrigo')

,name,popular,sid,link
0,Olivia Rodrigo,True,1McMsnEElThX1knmY4oliG,https://open.spotify.com/artist/1McMsnEElThX1knmY4oliG

In [95]:
# Led Zeppelin, Eminem, Royce Da 5'9", ScHoolboy Q, Olivia Rodrigo
display_recs(['36QJpDe2go2KgaRleHCDTp', '7dGJo4pcD2V6oG8kP0tJRR', '6DVipHzYsPlIoA0DW8Gmns',
             '5IcR3N7QB1j6KBL8eImZ8m', '1McMsnEElThX1knmY4oliG'], artists_per_cluster)

922 clusters

Led Zeppelin

Eminem

Royce Da 5'9"

ScHoolboy Q

Olivia Rodrigo