# Setup

In [1]:
import pandas as pd
import math
import json
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

from recommend import Recommend

In [2]:
def display_recs(favorites, artists_per_cluster):
    r = Recommend(artists_per_cluster)
    recs = r.get_recs(favorites)
    print('{} clusters'.format(math.floor(3691/artists_per_cluster))) # number of popular artists
    print('')
    for artist in recs:
        print(recs[artist]['name'])
        display(HTML(recs[artist]['recs'].head().to_html())) # TODO: TYLER PROPOSED CHANGE

In [3]:
class find:
    def __init__(self, artists_per_cluster):
        folder = 'precomp_diff_clusters/precomp_' + str(artists_per_cluster)
        with open(folder + '/s_name_find.json') as snf:
            self.snf = json.load(snf)
        with open(folder + '/t_uname_find.json') as tnf:
            self.tnf = json.load(tnf)
        with open(folder + '/s_info.json') as sif:
            self.s_info = json.load(sif)
        with open(folder + '/t_info.json') as tif:
            self.t_info = json.load(tif)
        with open(folder + '/candidates_scores.json') as csf:
            self.candidates_scores = json.load(csf)
    def s_name_find(self, name):
        if name in self.snf:
            df_spotify = pd.DataFrame(columns=['name', 'popular', 'sid', 'link'])
            sids = self.snf[name]
            for sid in sids:
                tid = self.s_info[sid]['tid']
                twitter = self.t_info[str(tid)]['followers count']
                if twitter >= 100000:
                    popular = True
                else:
                    popular = False
                df_spotify = df_spotify.append({
                'name': name,
                'popular': popular,
                'sid': sid,
                'link': "https://open.spotify.com/artist/" + sid}, ignore_index=True)
            return df_spotify
        else:
            print('We do not have {} in our database'.format(name))
    def t_uname_find(self, uname):
        if uname in self.tnf:
            df_spotify = pd.DataFrame(columns=['name', 'popular', 'sid', 'link'])
            sids = self.tnf[uname]
            for sid in sids:
                name = self.s_info[sid]['spotify name']
                tid = self.s_info[sid]['tid']
                twitter = self.t_info[str(tid)]['followers count']
                if twitter >= 100000:
                    popular = True
                else:
                    popular = False
                df_spotify = df_spotify.append({
                'name': name,
                'popular': popular,
                'sid': sid,
                'link': "https://open.spotify.com/artist/" + sid}, ignore_index=True)
            return df_spotify
        else:
            print('We do not have {} in our database'.format(uname))

In [5]:
# 4 artists per cluster
artists_per_cluster = 4
f4 = find(artists_per_cluster)

# Ian (13)

In [6]:
f4.s_name_find('Kanye West')

,name,popular,sid,link
0,Kanye West,True,5K4W6rqBFWDnAN6FQUkS6x,https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x

In [7]:
f4.t_uname_find('AndersonPaak')

,name,popular,sid,link
0,Anderson .Paak,True,3jK9MiCrA42lLAdMGUZpwa,https://open.spotify.com/artist/3jK9MiCrA42lLAdMGUZpwa

In [8]:
f4.s_name_find('The Notorious B.I.G.')

,name,popular,sid,link
0,The Notorious B.I.G.,False,5me0Irg2ANcsgc93uaYrpb,https://open.spotify.com/artist/5me0Irg2ANcsgc93uaYrpb

In [9]:
f4.t_uname_find('tylerthecreator')

,name,popular,sid,link
0,"Tyler, The Creator",True,4V8LLVI7PbaPR0K2TGSxFF,https://open.spotify.com/artist/4V8LLVI7PbaPR0K2TGSxFF

In [10]:
f4.s_name_find('Nujabes')

,name,popular,sid,link
0,Nujabes,False,3Rq3YOF9YG9YfCWD4D56RZ,https://open.spotify.com/artist/3Rq3YOF9YG9YfCWD4D56RZ

In [11]:
# Kanye West, Anderson Paak, Tyler the Creator
display_recs(['5K4W6rqBFWDnAN6FQUkS6x', '3jK9MiCrA42lLAdMGUZpwa', '4V8LLVI7PbaPR0K2TGSxFF'],
            artists_per_cluster)

922 clusters

Kanye West

Anderson .Paak

Tyler, The Creator

# Daniel (14)

In [106]:
f4.s_name_find('Led Zeppelin')

,name,popular,sid,link
0,Led Zeppelin,True,36QJpDe2go2KgaRleHCDTp,https://open.spotify.com/artist/36QJpDe2go2KgaRleHCDTp

In [107]:
f4.s_name_find('Eminem')

,name,popular,sid,link
0,Eminem,True,7dGJo4pcD2V6oG8kP0tJRR,https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR

In [108]:
f4.t_uname_find('Royceda59')

,name,popular,sid,link
0,"Royce Da 5'9""",True,6DVipHzYsPlIoA0DW8Gmns,https://open.spotify.com/artist/6DVipHzYsPlIoA0DW8Gmns

In [109]:
f4.s_name_find('ScHoolboy Q')

,name,popular,sid,link
0,ScHoolboy Q,True,5IcR3N7QB1j6KBL8eImZ8m,https://open.spotify.com/artist/5IcR3N7QB1j6KBL8eImZ8m

In [110]:
f4.s_name_find('Olivia Rodrigo')

,name,popular,sid,link
0,Olivia Rodrigo,True,1McMsnEElThX1knmY4oliG,https://open.spotify.com/artist/1McMsnEElThX1knmY4oliG

In [111]:
# Led Zeppelin, Eminem, Royce Da 5'9", ScHoolboy Q, Olivia Rodrigo
display_recs(['36QJpDe2go2KgaRleHCDTp', '7dGJo4pcD2V6oG8kP0tJRR', '6DVipHzYsPlIoA0DW8Gmns',
             '5IcR3N7QB1j6KBL8eImZ8m', '1McMsnEElThX1knmY4oliG'], artists_per_cluster)

922 clusters

Led Zeppelin

Eminem

Royce Da 5'9"

ScHoolboy Q

Olivia Rodrigo

# Emma (15)

In [113]:
f4.t_uname_find('bornsmusic')

,name,popular,sid,link
0,BØRNS,True,1KP6TWI40m7p3QBTU6u2xo,https://open.spotify.com/artist/1KP6TWI40m7p3QBTU6u2xo

In [114]:
f4.s_name_find('Miike Snow')

,name,popular,sid,link
0,Miike Snow,False,4l1cKWYW591xnwEGxpUg3J,https://open.spotify.com/artist/4l1cKWYW591xnwEGxpUg3J

In [115]:
f4.s_name_find('Vampire Weekend')

,name,popular,sid,link
0,Vampire Weekend,True,5BvJzeQpmsdsFp4HGUYUEx,https://open.spotify.com/artist/5BvJzeQpmsdsFp4HGUYUEx

In [117]:
f4.s_name_find('The Neighbourhood')

,name,popular,sid,link
0,The Neighbourhood,True,77SW9BnxLY8rJ0RciFqkHh,https://open.spotify.com/artist/77SW9BnxLY8rJ0RciFqkHh

In [118]:
f4.s_name_find('The Wombats')

,name,popular,sid,link
0,The Wombats,True,0Ya43ZKWHTKkAbkoJJkwIB,https://open.spotify.com/artist/0Ya43ZKWHTKkAbkoJJkwIB

In [119]:
# Borns, Vampire Weekend, The Neighbourhood, The Wombats
display_recs(['1KP6TWI40m7p3QBTU6u2xo', '5BvJzeQpmsdsFp4HGUYUEx', '77SW9BnxLY8rJ0RciFqkHh',
             '0Ya43ZKWHTKkAbkoJJkwIB'], artists_per_cluster)

922 clusters

BØRNS

Vampire Weekend

The Neighbourhood

The Wombats

# Chai (16)

In [120]:
f4.s_name_find('BTS')

,name,popular,sid,link
0,BTS,True,3Nrfpe0tUJi4K4DXYWgMUX,https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX

In [121]:
f4.s_name_find('BLACKPINK')

,name,popular,sid,link
0,BLACKPINK,True,41MozSoPIsD1dJM0CLPjZF,https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF

In [122]:
f4.s_name_find('Panic! At The Disco')

,name,popular,sid,link
0,Panic! At The Disco,True,20JZFwl6HVl6yg8a4H3ZqK,https://open.spotify.com/artist/20JZFwl6HVl6yg8a4H3ZqK

In [123]:
f4.s_name_find('Coldplay')

,name,popular,sid,link
0,Coldplay,True,4gzpq5DPGxSnKTe4SA8HAU,https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU

In [124]:
f4.s_name_find('Rihanna')

,name,popular,sid,link
0,Rihanna,True,5pKCCKE2ajJHZ9KAiaK11H,https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H

In [125]:
f4.s_name_find('Snow Patrol')

,name,popular,sid,link
0,Snow Patrol,True,3rIZMv9rysU7JkLzEaC5Jp,https://open.spotify.com/artist/3rIZMv9rysU7JkLzEaC5Jp

In [126]:
# BTS, BLACKPINK, Panic! At The Disco, Coldplay, Rihanna, Snow Patrol
display_recs(['3Nrfpe0tUJi4K4DXYWgMUX', '41MozSoPIsD1dJM0CLPjZF', '20JZFwl6HVl6yg8a4H3ZqK',
             '4gzpq5DPGxSnKTe4SA8HAU', '5pKCCKE2ajJHZ9KAiaK11H', '3rIZMv9rysU7JkLzEaC5Jp'], artists_per_cluster)

922 clusters

BTS

BLACKPINK

Panic! At The Disco

Coldplay

Rihanna

Snow Patrol

# Julie (17)

In [127]:
f4.s_name_find('Adele')

,name,popular,sid,link
0,Adele,True,4dpARuHxo51G3z768sgnrY,https://open.spotify.com/artist/4dpARuHxo51G3z768sgnrY

In [128]:
f4.s_name_find('5 Seconds of Summer')

,name,popular,sid,link
0,5 Seconds of Summer,True,5Rl15oVamLq7FbSb0NNBNy,https://open.spotify.com/artist/5Rl15oVamLq7FbSb0NNBNy

In [129]:
f4.s_name_find('Imagine Dragons')

,name,popular,sid,link
0,Imagine Dragons,True,53XhwfbYqKCa1cC15pYq2q,https://open.spotify.com/artist/53XhwfbYqKCa1cC15pYq2q

In [130]:
f4.s_name_find('Ariana Grande')

,name,popular,sid,link
0,Ariana Grande,True,66CXWjxzNUsdJxJ2JdwvnR,https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR

In [133]:
f4.t_uname_find('Beyonce')

We do not have Beyonce in our database

In [ ]:
display_recs(['4dpARuHxo51G3z768sgnrY', '5Rl15oVamLq7FbSb0NNBNy'])

# Justin Tandon

In [12]:
f4.s_name_find('Rex Orange County')

,name,popular,sid,link
0,Rex Orange County,True,7pbDxGE6nQSZVfiFdq9lOL,https://open.spotify.com/artist/7pbDxGE6nQSZVfiFdq9lOL

In [13]:
f4.s_name_find('Quinn XCII')

,name,popular,sid,link
0,Quinn XCII,True,3ApUX1o6oSz321MMECyIYd,https://open.spotify.com/artist/3ApUX1o6oSz321MMECyIYd

In [14]:
f4.s_name_find('Alec Benjamin')

,name,popular,sid,link
0,Alec Benjamin,True,5IH6FPUwQTxPSXurCrcIov,https://open.spotify.com/artist/5IH6FPUwQTxPSXurCrcIov

In [21]:
display_recs(['7pbDxGE6nQSZVfiFdq9lOL', '3ApUX1o6oSz321MMECyIYd', '5IH6FPUwQTxPSXurCrcIov'], artists_per_cluster)

922 clusters

Rex Orange County

Quinn XCII

Alec Benjamin

# Sonali

In [22]:
f4.s_name_find('Arijit Singh')

,name,popular,sid,link
0,Arijit Singh,False,4YRxDV8wJFPHPTeXepOstw,https://open.spotify.com/artist/4YRxDV8wJFPHPTeXepOstw

In [23]:
f4.s_name_find('Ritviz')

,name,popular,sid,link
0,Ritviz,False,72beYOeW2sb2yfcS4JsRvb,https://open.spotify.com/artist/72beYOeW2sb2yfcS4JsRvb

In [24]:
f4.s_name_find('Adele')

,name,popular,sid,link
0,Adele,True,4dpARuHxo51G3z768sgnrY,https://open.spotify.com/artist/4dpARuHxo51G3z768sgnrY

In [25]:
f4.s_name_find('Calvin Harris')

,name,popular,sid,link
0,Calvin Harris,True,7CajNmpbOovFoOoasH2HaY,https://open.spotify.com/artist/7CajNmpbOovFoOoasH2HaY

In [26]:
f4.s_name_find('Ariana Grande')

,name,popular,sid,link
0,Ariana Grande,True,66CXWjxzNUsdJxJ2JdwvnR,https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR

In [27]:
display_recs(['4dpARuHxo51G3z768sgnrY', '7CajNmpbOovFoOoasH2HaY', '66CXWjxzNUsdJxJ2JdwvnR'], artists_per_cluster)

922 clusters

Adele

Calvin Harris

Ariana Grande

# Charlie

In [28]:
f4.s_name_find('Alec Benjamin')

,name,popular,sid,link
0,Alec Benjamin,True,5IH6FPUwQTxPSXurCrcIov,https://open.spotify.com/artist/5IH6FPUwQTxPSXurCrcIov

In [29]:
f4.s_name_find('Porter Robinson')

,name,popular,sid,link
0,Porter Robinson,True,3dz0NnIZhtKKeXZxLOxCam,https://open.spotify.com/artist/3dz0NnIZhtKKeXZxLOxCam

In [30]:
f4.s_name_find('Dua Lipa')

,name,popular,sid,link
0,Dua Lipa,True,6M2wZ9GZgrQXHCFfjv46we,https://open.spotify.com/artist/6M2wZ9GZgrQXHCFfjv46we

In [31]:
f4.s_name_find('Travis Scott')

,name,popular,sid,link
0,Travis Scott,True,0Y5tJX1MQlPlqiwlOH1tJY,https://open.spotify.com/artist/0Y5tJX1MQlPlqiwlOH1tJY

In [32]:
display_recs(['5IH6FPUwQTxPSXurCrcIov', '3dz0NnIZhtKKeXZxLOxCam', '6M2wZ9GZgrQXHCFfjv46we', '0Y5tJX1MQlPlqiwlOH1tJY'], artists_per_cluster)

922 clusters

Alec Benjamin

Porter Robinson

Dua Lipa

Travis Scott

# Christine

In [34]:
f4.t_uname_find('f(x)')

We do not have f(x) in our database

In [35]:
f4.s_name_find('EXO')

,name,popular,sid,link
0,EXO,True,3cjEqqelV9zb4BYE3qDQ4O,https://open.spotify.com/artist/3cjEqqelV9zb4BYE3qDQ4O

In [37]:
f4.t_uname_find('Bittermilk')

We do not have Bittermilk in our database

In [38]:
f4.s_name_find('Eve')

,name,popular,sid,link
0,Eve,True,58oPVy7oihAEXE0Ott6JOf,https://open.spotify.com/artist/58oPVy7oihAEXE0Ott6JOf
1,Eve,False,4d3yvTptO48nOYTPBcPFZC,https://open.spotify.com/artist/4d3yvTptO48nOYTPBcPFZC
2,Eve,False,64V0qcIldpWvtvY7re6Yt6,https://open.spotify.com/artist/64V0qcIldpWvtvY7re6Yt6
3,Eve,False,1HeGHzUC0MVMJq3J9ITf6P,https://open.spotify.com/artist/1HeGHzUC0MVMJq3J9ITf6P
4,Eve,False,1oyTtsbChtf14jw3jptCQB,https://open.spotify.com/artist/1oyTtsbChtf14jw3jptCQB
5,Eve,False,1svumhJbXDIuLVd9PHOWYG,https://open.spotify.com/artist/1svumhJbXDIuLVd9PHOWYG

In [39]:
f4.s_name_find('OOHYO')

,name,popular,sid,link
0,OOHYO,False,50Zu2bK9y5UAtD0jcqk5VX,https://open.spotify.com/artist/50Zu2bK9y5UAtD0jcqk5VX

In [40]:
display_recs(['58oPVy7oihAEXE0Ott6JOf', '3cjEqqelV9zb4BYE3qDQ4O'], artists_per_cluster)

922 clusters

Eve

EXO

# Sam

In [41]:
#Drake, Lil Baby, Gryffin, Kanye West, Ed Sheeran
f4.s_name_find('Drake')

,name,popular,sid,link
0,Drake,True,3TVXtAsR1Inumwj472S9r4,https://open.spotify.com/artist/3TVXtAsR1Inumwj472S9r4
1,Drake,True,2m5ti7YuYYCVs8xfZgnVkx,https://open.spotify.com/artist/2m5ti7YuYYCVs8xfZgnVkx
2,Drake,True,4PrHn62sbAwEY2TkPYXOxN,https://open.spotify.com/artist/4PrHn62sbAwEY2TkPYXOxN

In [52]:
f4.s_name_find('Lil Baby')

,name,popular,sid,link
0,Lil Baby,True,5f7VJjfbwm532GiveGC0ZK,https://open.spotify.com/artist/5f7VJjfbwm532GiveGC0ZK

In [43]:
f4.s_name_find('Gryffin')

,name,popular,sid,link
0,Gryffin,False,2ZRQcIgzPCVaT9XKhXZIzh,https://open.spotify.com/artist/2ZRQcIgzPCVaT9XKhXZIzh

In [44]:
f4.s_name_find('Kanye West')

,name,popular,sid,link
0,Kanye West,True,5K4W6rqBFWDnAN6FQUkS6x,https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x

In [45]:
f4.s_name_find('Ed Sheeran')

,name,popular,sid,link
0,Ed Sheeran,True,6eUKZXaKkcviH0Ku9w2n3V,https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V

In [47]:
display_recs(['3TVXtAsR1Inumwj472S9r4', '5f7VJjfbwm532GiveGC0ZK', '5K4W6rqBFWDnAN6FQUkS6x', '6eUKZXaKkcviH0Ku9w2n3V'], artists_per_cluster)

922 clusters

Drake

Lil Baby

Kanye West

Ed Sheeran

# Aden

In [54]:
# Tyler, The Creator, Blood Orange, The Flaming Lips, Pearl Jam, Weyes Blood
f4.s_name_find('Tyler, The Creator')

,name,popular,sid,link
0,"Tyler, The Creator",True,4V8LLVI7PbaPR0K2TGSxFF,https://open.spotify.com/artist/4V8LLVI7PbaPR0K2TGSxFF

In [55]:
f4.s_name_find('Blood Orange')

,name,popular,sid,link
0,Blood Orange,False,6LEeAFiJF8OuPx747e1wxR,https://open.spotify.com/artist/6LEeAFiJF8OuPx747e1wxR

In [56]:
f4.s_name_find('The Flaming Lips')

,name,popular,sid,link
0,The Flaming Lips,True,16eRpMNXSQ15wuJoeqguaB,https://open.spotify.com/artist/16eRpMNXSQ15wuJoeqguaB

In [57]:
f4.s_name_find('Pearl Jam')

,name,popular,sid,link
0,Pearl Jam,True,1w5Kfo2jwwIPruYS2UWh56,https://open.spotify.com/artist/1w5Kfo2jwwIPruYS2UWh56

In [58]:
f4.s_name_find('Weyes Blood')

,name,popular,sid,link
0,Weyes Blood,False,3Uqu1mEdkUJxPe7s31n1M9,https://open.spotify.com/artist/3Uqu1mEdkUJxPe7s31n1M9

In [59]:
display_recs(['4V8LLVI7PbaPR0K2TGSxFF', '16eRpMNXSQ15wuJoeqguaB', '1w5Kfo2jwwIPruYS2UWh56'], artists_per_cluster)

922 clusters

Tyler, The Creator

The Flaming Lips

Pearl Jam

# Varun

In [60]:
# Jack Harlow, Fiji Blue, Coldplay, Kevin Powers, Baby Keem
f4.s_name_find('Jack Harlow')

,name,popular,sid,link
0,Jack Harlow,True,2LIk90788K0zvyj2JJVwkJ,https://open.spotify.com/artist/2LIk90788K0zvyj2JJVwkJ

In [62]:
f4.s_name_find('Fiji Blue')

,name,popular,sid,link
0,Fiji Blue,False,1e7K8jD3wRuQfnwDAOeGqe,https://open.spotify.com/artist/1e7K8jD3wRuQfnwDAOeGqe

In [63]:
f4.s_name_find('Coldplay')

,name,popular,sid,link
0,Coldplay,True,4gzpq5DPGxSnKTe4SA8HAU,https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU

In [64]:
f4.s_name_find('Kevin Powers')

,name,popular,sid,link
0,Kevin Powers,False,4X8TR9pBFyewFlIDYt1o2s,https://open.spotify.com/artist/4X8TR9pBFyewFlIDYt1o2s

In [65]:
f4.s_name_find('Baby Keem')

,name,popular,sid,link
0,Baby Keem,False,5SXuuuRpukkTvsLuUknva1,https://open.spotify.com/artist/5SXuuuRpukkTvsLuUknva1

In [66]:
display_recs(['2LIk90788K0zvyj2JJVwkJ', '4gzpq5DPGxSnKTe4SA8HAU'], artists_per_cluster)

922 clusters

Jack Harlow

Coldplay

# Will

In [67]:
#Joey Bada$$, Sheff G, Polo G, Sleepy Hallow, A Tribe Called Quest
f4.s_name_find('Joey Bada$$')

,name,popular,sid,link
0,Joey Bada$$,True,2P5sC9cVZDToPxyomzF1UH,https://open.spotify.com/artist/2P5sC9cVZDToPxyomzF1UH

In [72]:
f4.t_uname_find('Sheff G,')

We do not have Sheff G, in our database

In [69]:
f4.s_name_find('Polo G')

,name,popular,sid,link
0,Polo G,False,6AgTAQt8XS6jRWi4sX7w49,https://open.spotify.com/artist/6AgTAQt8XS6jRWi4sX7w49

In [70]:
f4.s_name_find('Sleepy Hallow')

,name,popular,sid,link
0,Sleepy Hallow,False,6EPlBSH2RSiettczlz7ihV,https://open.spotify.com/artist/6EPlBSH2RSiettczlz7ihV

In [74]:
f4.s_name_find('A Tribe Called Quest')

,name,popular,sid,link
0,A Tribe Called Quest,False,09hVIj6vWgoCDtT03h8ZCa,https://open.spotify.com/artist/09hVIj6vWgoCDtT03h8ZCa

In [73]:
display_recs(['2P5sC9cVZDToPxyomzF1UH'], artists_per_cluster)

922 clusters

Joey Bada$$

# Shaiv

In [ ]:
# Juice WRLD, Polo G, Lil Baby, Lil Uzi Vert, The Kid Laroi

In [76]:
f4.s_name_find('Juice WRLD')

,name,popular,sid,link
0,Juice WRLD,True,4MCBfE4596Uoi2O4DtmEMz,https://open.spotify.com/artist/4MCBfE4596Uoi2O4DtmEMz

In [77]:
f4.s_name_find('Polo G')

,name,popular,sid,link
0,Polo G,False,6AgTAQt8XS6jRWi4sX7w49,https://open.spotify.com/artist/6AgTAQt8XS6jRWi4sX7w49

In [78]:
f4.s_name_find('Lil Baby')

,name,popular,sid,link
0,Lil Baby,True,5f7VJjfbwm532GiveGC0ZK,https://open.spotify.com/artist/5f7VJjfbwm532GiveGC0ZK

In [79]:
f4.s_name_find('Lil Uzi Vert')

,name,popular,sid,link
0,Lil Uzi Vert,True,4O15NlyKLIASxsJ0PrXPfz,https://open.spotify.com/artist/4O15NlyKLIASxsJ0PrXPfz

In [82]:
f4.s_name_find('The Kid LAROI')

,name,popular,sid,link
0,The Kid LAROI,True,2tIP7SsRs7vjIcLrU85W8J,https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J

In [83]:
display_recs(['4MCBfE4596Uoi2O4DtmEMz', '5f7VJjfbwm532GiveGC0ZK', '4O15NlyKLIASxsJ0PrXPfz', '2tIP7SsRs7vjIcLrU85W8J'], artists_per_cluster)

922 clusters

Juice WRLD

Lil Baby

Lil Uzi Vert

The Kid LAROI

# Aaron

In [ ]:
# NF, AJR, Billie Eilish, Imagine Dragons, Hailee Steinfeld

In [84]:
f4.s_name_find('NF')

,name,popular,sid,link
0,NF,True,6fOMl44jA4Sp5b9PpYCkzz,https://open.spotify.com/artist/6fOMl44jA4Sp5b9PpYCkzz

In [85]:
f4.s_name_find('AJR')

,name,popular,sid,link
0,AJR,True,6s22t5Y3prQHyaHWUN1R1C,https://open.spotify.com/artist/6s22t5Y3prQHyaHWUN1R1C

In [86]:
f4.s_name_find('Billie Eilish')

,name,popular,sid,link
0,Billie Eilish,True,6qqNVTkY8uBg9cP3Jd7DAH,https://open.spotify.com/artist/6qqNVTkY8uBg9cP3Jd7DAH

In [87]:
f4.s_name_find('Imagine Dragons')

,name,popular,sid,link
0,Imagine Dragons,True,53XhwfbYqKCa1cC15pYq2q,https://open.spotify.com/artist/53XhwfbYqKCa1cC15pYq2q

In [88]:
f4.s_name_find('Hailee Steinfeld')

,name,popular,sid,link
0,Hailee Steinfeld,True,5p7f24Rk5HkUZsaS3BLG5F,https://open.spotify.com/artist/5p7f24Rk5HkUZsaS3BLG5F

In [115]:
display_recs(['6fOMl44jA4Sp5b9PpYCkzz', '6s22t5Y3prQHyaHWUN1R1C', '6qqNVTkY8uBg9cP3Jd7DAH', '53XhwfbYqKCa1cC15pYq2q', '5p7f24Rk5HkUZsaS3BLG5F'], artists_per_cluster)

922 clusters

NF

AJR

Billie Eilish

Imagine Dragons

Hailee Steinfeld

# Michelle

In [ ]:
# Taylor Swift, Ariana Grande, Fiji Blue, Maggie Rogers, LAUV

In [90]:
f4.s_name_find('Taylor Swift')

,name,popular,sid,link
0,Taylor Swift,True,06HL4z0CvFAxyc27GXpf02,https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02

In [91]:
f4.s_name_find('Ariana Grande')

,name,popular,sid,link
0,Ariana Grande,True,66CXWjxzNUsdJxJ2JdwvnR,https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR

In [92]:
f4.s_name_find('Fiji Blue')

,name,popular,sid,link
0,Fiji Blue,False,1e7K8jD3wRuQfnwDAOeGqe,https://open.spotify.com/artist/1e7K8jD3wRuQfnwDAOeGqe

In [93]:
f4.s_name_find('Maggie Rogers')

,name,popular,sid,link
0,Maggie Rogers,True,4NZvixzsSefsNiIqXn0NDe,https://open.spotify.com/artist/4NZvixzsSefsNiIqXn0NDe

In [95]:
f4.s_name_find('Lauv')

,name,popular,sid,link
0,Lauv,True,5JZ7CnR6gTvEMKX4g70Amv,https://open.spotify.com/artist/5JZ7CnR6gTvEMKX4g70Amv

In [116]:
display_recs(['06HL4z0CvFAxyc27GXpf02', '66CXWjxzNUsdJxJ2JdwvnR', '4NZvixzsSefsNiIqXn0NDe', '5JZ7CnR6gTvEMKX4g70Amv'], artists_per_cluster)

922 clusters

Taylor Swift

Ariana Grande

Maggie Rogers

Lauv

# Hongyi

In [ ]:
# Taylor Swift, AJR, Imagine Dragons

In [96]:
f4.s_name_find('Taylor Swift')

,name,popular,sid,link
0,Taylor Swift,True,06HL4z0CvFAxyc27GXpf02,https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02

In [97]:
f4.s_name_find('AJR')

,name,popular,sid,link
0,AJR,True,6s22t5Y3prQHyaHWUN1R1C,https://open.spotify.com/artist/6s22t5Y3prQHyaHWUN1R1C

In [98]:
f4.s_name_find('Imagine Dragons')

,name,popular,sid,link
0,Imagine Dragons,True,53XhwfbYqKCa1cC15pYq2q,https://open.spotify.com/artist/53XhwfbYqKCa1cC15pYq2q

In [117]:
display_recs(['06HL4z0CvFAxyc27GXpf02', '6s22t5Y3prQHyaHWUN1R1C', '53XhwfbYqKCa1cC15pYq2q'], artists_per_cluster)

922 clusters

Taylor Swift

AJR

Imagine Dragons

# Madeline

In [ ]:
# Green Day, Pearl Jam, the Red Hot Chili Peppers,  the Jam, David Bowie

In [99]:
f4.s_name_find('Green Day')

,name,popular,sid,link
0,Green Day,True,7oPftvlwr6VrsViSDV7fJY,https://open.spotify.com/artist/7oPftvlwr6VrsViSDV7fJY

In [100]:
f4.s_name_find('Pearl Jam')

,name,popular,sid,link
0,Pearl Jam,True,1w5Kfo2jwwIPruYS2UWh56,https://open.spotify.com/artist/1w5Kfo2jwwIPruYS2UWh56

In [102]:
f4.s_name_find('Red Hot Chili Peppers')

,name,popular,sid,link
0,Red Hot Chili Peppers,True,0L8ExT028jH3ddEcZwqJJ5,https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5

In [103]:
f4.s_name_find('The Jam')

,name,popular,sid,link
0,The Jam,False,2P560DaOMNDUACoH8ZhOCR,https://open.spotify.com/artist/2P560DaOMNDUACoH8ZhOCR

In [104]:
f4.s_name_find('David Bowie')

,name,popular,sid,link
0,David Bowie,True,0oSGxfWSnnOXhD2fKuz2Gy,https://open.spotify.com/artist/0oSGxfWSnnOXhD2fKuz2Gy

In [120]:
display_recs(['7oPftvlwr6VrsViSDV7fJY', '1w5Kfo2jwwIPruYS2UWh56', '0L8ExT028jH3ddEcZwqJJ5', '0oSGxfWSnnOXhD2fKuz2Gy'], artists_per_cluster)

922 clusters

Green Day

Pearl Jam

Red Hot Chili Peppers

David Bowie

# Sona

In [ ]:
# Stray Kids, Post Malone, lil nas x, kehlani, bahari

In [105]:
f4.s_name_find('Stray Kids')

,name,popular,sid,link
0,Stray Kids,False,2dIgFjalVxs4ThymZ67YCE,https://open.spotify.com/artist/2dIgFjalVxs4ThymZ67YCE

In [106]:
f4.s_name_find('Post Malone')

,name,popular,sid,link
0,Post Malone,True,246dkjvS1zLTtiykXe5h60,https://open.spotify.com/artist/246dkjvS1zLTtiykXe5h60

In [107]:
f4.s_name_find('Lil Nas X')

,name,popular,sid,link
0,Lil Nas X,True,7jVv8c5Fj3E9VhNjxT4snq,https://open.spotify.com/artist/7jVv8c5Fj3E9VhNjxT4snq

In [108]:
f4.s_name_find('Kehlani')

,name,popular,sid,link
0,Kehlani,True,0cGUm45nv7Z6M6qdXYQGTX,https://open.spotify.com/artist/0cGUm45nv7Z6M6qdXYQGTX

In [109]:
f4.s_name_find('Bahari')

,name,popular,sid,link
0,Bahari,False,0fs8oBR1rx7JIXZi75h7Uu,https://open.spotify.com/artist/0fs8oBR1rx7JIXZi75h7Uu

In [121]:
display_recs(['246dkjvS1zLTtiykXe5h60', '7jVv8c5Fj3E9VhNjxT4snq', '0cGUm45nv7Z6M6qdXYQGTX' ], artists_per_cluster)

922 clusters

Post Malone

Lil Nas X

Kehlani

# Tessa

In [ ]:
# Harry Styles, Billie Eilish, Doja Cat, Ariana Grande, Olivia Dean

In [110]:
f4.s_name_find('Harry Styles')

,name,popular,sid,link
0,Harry Styles,True,6KImCVD70vtIoJWnq6nGn3,https://open.spotify.com/artist/6KImCVD70vtIoJWnq6nGn3

In [111]:
f4.s_name_find('Billie Eilish')

,name,popular,sid,link
0,Billie Eilish,True,6qqNVTkY8uBg9cP3Jd7DAH,https://open.spotify.com/artist/6qqNVTkY8uBg9cP3Jd7DAH

In [112]:
f4.s_name_find('Doja Cat')

,name,popular,sid,link
0,Doja Cat,True,5cj0lLjcoR7YOSnhnX0Po5,https://open.spotify.com/artist/5cj0lLjcoR7YOSnhnX0Po5

In [113]:
f4.s_name_find('Ariana Grande')

,name,popular,sid,link
0,Ariana Grande,True,66CXWjxzNUsdJxJ2JdwvnR,https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR

In [114]:
f4.s_name_find('Olivia Dean')

,name,popular,sid,link
0,Olivia Dean,False,00x1fYSGhdqScXBRpSj3DW,https://open.spotify.com/artist/00x1fYSGhdqScXBRpSj3DW

In [122]:
display_recs(['6KImCVD70vtIoJWnq6nGn3', '6qqNVTkY8uBg9cP3Jd7DAH', '5cj0lLjcoR7YOSnhnX0Po5', '66CXWjxzNUsdJxJ2JdwvnR'], artists_per_cluster)

922 clusters

Harry Styles

Billie Eilish

Doja Cat

Ariana Grande