In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)

from recommend import Recommend
r = Recommend()

In [42]:
def display_recs(recs):
    for artist in recs:
        print('5 Most Similar and Novel Artists to ' + recs[artist]['name'])
        display(HTML(recs[artist]['recs'].to_html()))

In [43]:
#Drake
display_recs(r.get_recs(['3TVXtAsR1Inumwj472S9r4']))

5 Most Similar and Novel Artists to Drake

In [44]:
# Drake, Bad Bunny, The Weeknd
display_recs(r.get_recs(['3TVXtAsR1Inumwj472S9r4', '4q3ewBCX7sLwd24euuV69X',
           '1Xyo4u8uXC1ZmMpatF05PJ']))

5 Most Similar and Novel Artists to Drake

5 Most Similar and Novel Artists to Bad Bunny

5 Most Similar and Novel Artists to The Weeknd

In [46]:
# Justin Bieber, Taylor Swift, BTS
display_recs(r.get_recs(['1uNFoZAHBGtllmzznpCI3s', '06HL4z0CvFAxyc27GXpf02', '3Nrfpe0tUJi4K4DXYWgMUX']))

KeyError: '1uNFoZAHBGtllmzznpCI3s'