In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)

from toy_recommend import Toy_Recommend
r = Toy_Recommend()

In [3]:
def display_recs(recs):
    for artist in recs:
        print('5 Most Similar and Novel Artists to ' + recs[artist]['name'])
        display(HTML(recs[artist]['recs'].to_html()))

In [4]:
# Bach
display_recs(r.get_recs(['5aIqB5nVVvmFsvSdExz408']))

5 Most Similar and Novel Artists to Johann Sebastian Bach

In [5]:
# Drake, Bad Bunny, The Weeknd
display_recs(r.get_recs(['3TVXtAsR1Inumwj472S9r4', '4q3ewBCX7sLwd24euuV69X',
           '1Xyo4u8uXC1ZmMpatF05PJ']))

5 Most Similar and Novel Artists to Drake

5 Most Similar and Novel Artists to Bad Bunny

5 Most Similar and Novel Artists to The Weeknd

In [6]:
# Justin Bieber, Taylor Swift, BTS
display_recs(r.get_recs(['1uNFoZAHBGtllmzznpCI3s',
                         '06HL4z0CvFAxyc27GXpf02', '3Nrfpe0tUJi4K4DXYWgMUX']))

5 Most Similar and Novel Artists to Justin Bieber

5 Most Similar and Novel Artists to Taylor Swift

5 Most Similar and Novel Artists to BTS

In [7]:
# System Of A Down, Nirvana, Pink Floyd 
display_recs(r.get_recs(['5eAWCfyUhZtHHtBdNk56l1', '6olE6TJLqED3rqDCT0FyPh', '0k17h0D3J5VfsdmQ1iZtE9']))

5 Most Similar and Novel Artists to System Of A Down

5 Most Similar and Novel Artists to Nirvana

5 Most Similar and Novel Artists to Pink Floyd

In [78]:
# 2Pac, The Notorious B.I.G., Dr. Dre
display_recs(r.get_recs(['1ZwdS5xdxEREPySFridCfh', '5me0Irg2ANcsgc93uaYrpb', '6DPYiyq5kWVQS4RGwxzPC7']))

5 Most Similar and Novel Artists to 2Pac

5 Most Similar and Novel Artists to The Notorious B.I.G.

5 Most Similar and Novel Artists to Dr. Dre